* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
html, body {
  height: 100%;
  background: #1d1f20;
  color: #fff;
}

body{
  background-color: #111;
}